.terraform
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.lock.info
provider.tf
*.pem
*.ppk
.aws
config
credentials
.ipynb_checkpoints
boot_strapping.sh
bootstrap_ctrl_and_kf.sh
bootstrap_secondary_cidr.sh
